@import url('https://fonts.googleapis.com/css?family=Secular+One');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    background-color: #89CFF0;
}

h1{
    color: #216CA5;
    text-decoration: None;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
   
}

footer{
    width: 100%;
    position: fixed;
    bottom: 10px;
    padding-top: 10px;
    font-size: 14px;

}

p{
    font-size: 20px;
}

ul.navbut{
    list-style-type: None;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #437CA5; 
    border-radius: 4px;
}
ul.navbut li{
    float: left;
}

ul.navbut li a{
    color: white;
    display: block;
    text-align: center;
    text-decoration: None;
    padding: 14px 24px;
    font-family: 'Poppins', sans-serif;

}

a:hover{
    background-color: #C78E65;
}

.central, h1, footer{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#counter{
    font-family: 'Secular One', sans-serif;
    color: #327DB6;
    font-size: 70px;
    vertical-align: middle;
    text-shadow: 2px 2px 2px #333333;
}
#counter:hover{
    cursor: pointer;
}

#counter:active{
    color: white;
}

footer{
    position: absolute;
    bottom: 10px;
}
