@import url('https://fonts.googleapis.com/css?family=Secular+One');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap'); /* OJO */

@font-face {
    font-family: Poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap') format('woff');
    font-weight: bold;
  }
  
@font-face {
    font-family: Poppins;
    src: url('https://fonts.googleapis.com/css?family=Poppins') format('woff');
    font-weight: normal;
  }

body{
    background-color: #89CFF0;
}

h1{
    color: #216CA5;
    text-decoration: None;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: normal;
   
}
span.nb{
    font-weight: bold;
    text-shadow: 2px 2px 2px #333333;
}

footer{
    border-radius: 4px;
    width: calc(100% - 15px);
    position: fixed;
    bottom: 10px;
    margin-top: 50px;

    padding-top: 10px;
    font-size: 14px;
    background-color: #437CA5;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
}

body p{
    font-size: 20px;
}

#news p{
    font-size: 15px;
}

ul.navbut{
    list-style-type: None;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #437CA5; 
    border-radius: 4px;
}
ul.navbut li{
    float: left;
}

ul.navbut li a{
    color: white;
    display: block;
    text-align: center;
    text-decoration: None;
    padding: 14px 24px;
    font-family: 'Poppins', sans-serif;

}

a:hover{
    background-color: #C78E65;
}

.central, h1, footer{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#counter{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #327DB6;
    font-size: 70px;
    vertical-align: middle;
    text-shadow: 2px 2px 2px #333333;
}
#counter:hover{
    cursor: pointer;
}
#counter:active{
    color: white;
}



#news{
    margin: auto;
    margin-bottom: 100px;
    background-color: #aef5b6;
    display: block;
    min-width: 500px;
    width: 70%;
    text-align: center;
    border: 7px solid #0ca010;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

.newstitle{
    color: #0B9010;
    text-decoration: None;
    font-size: 30px;
    font-weight: bold;
}

#news a.bt{
    background-color: #cff7d8;
    display: inline-block;
    border: 3px solid #0ca010;
    border-radius: 200px;
    padding: 10px 20px;
    color: #0B9010;
    text-decoration: none;
    margin: 10px;

}

#news a.bt:hover{
    background-color: #0ca010;
    display: inline-block;
    border: 3px solid white;
    border-radius: 200px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    margin: 10px;

}


#flyer{
    width: 50%;
    display: inline-block;
    min-width: 200px;
}