img{
	display: inline-block;
	margin-left: 10%;
	width: 20%;
	vertical-align: top;
	border: #437CA5 solid 10px;
	border-radius: 200px;

}

.presentation{
	width: 30%;
	margin-left: 15%;
	margin-top: 60px;
	vertical-align: bottom;
	text-align: justify;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}


#ctctb{
	display: block;
	padding-top: 100px;
}
#ctb{
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
ul.contact{
    list-style-type: None;
    padding: 0;
    overflow: hidden; 
    border-radius: 4px;

}

ul.contact li{
	float: left;

	margin-left: 15px;
	margin-right: 15px;
}

ul.contact li a{
	color: white;
    display: inline-block;
    text-align: center;
    text-decoration: None;
    padding: 14px 24px;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
}

ul.contact li a:link, ul.contact li a:visited{
	background-color: #659EC7;
	border: #437CA5 solid 4px;
}

ul.contact li a:hover{
	background-color: #C78E65;
	border: #A56C43 solid 4px;
}
